[Unit]
Description=custom on every reboot
DefaultDependencies=no
PartOf=graphical-session.target

[Service]
ExecStart=/usr/share/custom

[Install]
WantedBy=gnome-session.target